/* sidebar-owner.css */

.sidebar-owner {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  color: #475569;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.05);
  transition: width 0.3s ease;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-owner.closed {
  width: 60px;
}

.sidebar-owner ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Orani ochish */
}

.sidebar-owner li {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 500;
  color: #475569;
  border-left: 4px solid transparent;
}

.sidebar-owner li.active {
  background-color: #eff6ff;
  border-left: 4px solid #3b82f6;
}

.sidebar-owner li.active a {
  color: #1e40af;
  font-weight: 600;
}

.sidebar-owner li:hover {
  background-color: #f8fafc;
}

.sidebar-owner li:hover a {
  color: #3b82f6;
}

.sidebar-owner li a {
  color: #475569;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  transition: color 0.2s ease;
  outline: none;
  border: none;
}

.logout-btnn {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background-color: #f8fafc;
  color: #ef4444;
  font-size: 16px;
  font-weight: 600;
  border-top: 1px solid #e2e8f0;
  transition: background 0.2s ease, color 0.2s ease;
}

.logout-btnn:hover {
  background-color: #fef2f2;
  color: #dc2626;
}


.sidebar-title {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #e2e8f0;
}

.sidebar-title h2 {
  color: #1e40af;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-top: 30px;
}
